@mixin flexAlign ($hor:center, $vert:center, $pos:row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

body {
    margin: 0;
}

.users {
    width: 100%;
    height: 100vh;
    background: rgb(42, 247, 179);
    @include flexAlign;
}

.container {
    width: 35%;
    min-width: 200px;
    @include flexAlign($pos:column);

    &__list {
        box-shadow: 2px 2px 15px 0 white;
        background: rgb(22, 129, 190);
        padding: 5px;
        width: 100%;
        max-height: 300px;
        box-sizing: border-box;
        @include flexAlign($pos:column);
        overflow: hidden;
        overflow: auto;
    }
}

.task {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    @include flexAlign(flex-start);
    padding: 0 15px;
    box-sizing: border-box;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    flex-shrink: 0;
    
    &__complite {
        margin-right: 10px;

            &:checked ~ .task__name {
                text-decoration: line-through;
                color: black;
            }           
    } 
    &__number {
        font-size: 18px;
        margin-right: 10px;
    }

    &__name {
        font-style: italic;
        font-weight: bold;
        margin-right: 5px;
    }

    &__Email {
        font-style: normal;
        font-size: 14px;
    }
    &__age {
        font-size: 14px;
        margin-right: 10px;

    }
    &:last-child {
        margin-bottom: 0;
    }
}